body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1 {
    font-size: 2.5rem;
    color: #343a40;
}

#searchInput {
    font-size: 1.2rem;
}

.table {
    margin-top: 20px;
}

.table th, .table td {
    text-align: center;
}

.table thead th {
    background-color: #343a40;
    color: white;
}
